@model Data.Entities.Category;
@{
    bool isCreate = Model == null;
}

<h1>@(isCreate ? "Create New" : "Edit")</h1>
<h4>Category</h4>
<hr />

<form method="post" asp-action="@(isCreate ? "Create" : "Edit")">
    <div class="row">
        <div class="col-12 col-md-6 form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter name">
            <span asp-validation-for="@Model.Name" class="form-text text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="@(isCreate ? "Create" : "Update")" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}