@model List<Data.Entities.Product>;

<h1 class="mb-4">Product List</h1>

<a asp-controller="Product" asp-action="Create" class="mb-3 btn btn-primary text-white">Create New Product</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Description</td>
                <td>@user.Price&nbsp;$</td>
                <td>@user.Rating</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-outline-info p-1 px-3">Edit</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-outline-danger p-1 px-3">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="my-2 text-center">Count: @Model.Count</p>